<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend GPT</title>
    <link rel="stylesheet" href="../style/landing_page.css">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/animation.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Outfit&display=swap">
</head>

<body>
    <header class="text grid">
        <div class="container logo animation-grow">
            <img src="../../assets/robot_alternative.svg" alt="Alternative Text" width="42.197px" height="41.33px" padding="10px">
            <p>FR<span class="i-colorido">i</span>ENDs</p>
            
        </div>

        <div class="container navbar">
            <nav>
                <a class="animation-grow" href="how_it_works.html">How it works</a>
                <a class="animation-grow" href="#">Contact</a>
                <a class="animation-grow" href="https://github.com/Giovana2ma/DCC603-Eng-Soft-GPT">GitHub Page</a>
            </nav>
        </div>
    </header>

    <main class="grid">
        <div class="main-content">
            <div id = "logo-friends-div">
                <img src="../../assets/robot.svg" alt="Alternative Text">
                <img src="../../assets/friends_landing_page.svg" alt="Alternative Text">
            </div>

            <div class="container main-logo">
                <h2  id="main-logo-h2">Your ChatGPT interface to watch <span class="i-colorido">movies</span></h2>
                <div id="main-logo-text">
                    Tired of spending hours scrolling through endless movie options? Look no further! Our cutting-edge movie
                recommendation system, powered by GPT-3, is here to make your movie nights unforgettable.
                </div>
            </div>

            <div class="container animation-grow" id="button-container">
                <button class="button1 ">GET STARTED</button>
            </div>
        </div>
    </main>

    <footer class="grid">
        <p>&copy;All rights reserved.</p>
    </footer>
</body>

</html>