html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent scrolling */
}

#app {
    height: 100%;
    width: 100%;
}

body>* {
    transform: scale(0.8)
}

body {
    /* Linear gradient background */
    background: linear-gradient(150deg, #4A1474 18.4%, #974E54 45.48%, #F5952E 113.55%);
    /* Other CSS styles for the body */
    color: #E4D2BA;
}

header {
    background: none;
    box-sizing: border-box;
    padding: 15px;
    grid-column: 1 / span 12;
}

h1 {
    font-family: Outfit;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

a {
    color: #E4D2BA;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;
    text-underline-position: under;
    /* Optional, sets the underline to be below the text */
    text-decoration-skip-ink: none;
    /* Optional, prevents ink spread */
}

a:hover {
    transform: scale(1.02);
    color: #FA9D26;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

main {
    margin: 0;
    padding: 0;
    height: 80%;
}

footer {
    height: 100%;
}

footer p {
    margin: 0;
    grid-column: 1 / span 10;
}

.logo {
    border-radius: 83px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(110, 0, 244, 0.31);

    display: flex;
    justify-content: space-between;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */

    grid-column: 1 / span 2;
}

.logo p {
    margin: 0;
    margin-right: 30px;
}

.navbar {
    list-style: none;
    padding: 0;

    background: rgba(27, 15, 15, 0.10);
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);

    grid-column: 7 / span 6;

    display: flex;
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */

    height: 45px;
    flex-shrink: 0;
}

.text {
    color: #E4D2BA;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container {
    border-radius: 83px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s, opacity 0.3s;
    /* Apply transitions to transform and opacity properties */
    /* background: #974E54; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 75px);
    /* 12 columns, each with a width of 75 units */
    gap: 15px;
    /* 15-unit gutter between columns */
    justify-content: center;
    /* Center content horizontally */
    /* border: 2px solid #000; */
}

.button1 {
    border-radius: 83px;
    background: linear-gradient(97deg, #E9642F 5.21%, #92226E 124.14%);
    box-shadow: 7px 8px 10px 0px rgba(37, 5, 76, 0.20);
    border: 0;

    color: #E4D2BA;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;

    padding: 15px;

    height: 52px;
    width: 194px;

    cursor: grab;
}

.i-colorido {
    color: #FA9D26;
}

.main-logo {
    border-radius: 83px;
    background: rgba(27, 15, 15, 0.10);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    /* Center children horizontally */
    align-items: center;

    height: fit-content;
    padding-bottom: 24.900px;
    margin-bottom: 80px;
}

.main-content {
    /* border: 1px solid #ddd; */
    display: flex;
    flex-direction: column;
    /* Stack children vertically */
    justify-content: center;
    /* Center children horizontally */
    align-items: center;
    /* Center children vertically */
    grid-column: 1 / span 12;
    padding: 10px;

    margin-top: 50px;

}

#main-content-h1 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#main-logo-h2 {
    text-decoration: underline;
    text-underline-position: under;
    /* Optional, sets the underline to be below the text */
    text-decoration-skip-ink: none;
    /* Optional, prevents ink spread */
    line-height: 2.3;
}


#main-logo-text {
    width: 90%;

    color: #E4D2BA;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#logo-friends-div {
    margin-bottom: 40.200px;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
}




.movie-container {
    background: rgba(8, 3, 3, 0.13);

    /* background-color: #fff; */
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    z-index: 10;
    position: relative;
    margin: 0 0px;
    width: 220px !important;
}

.movies {
    text-align: center;
}


.movie-title {
    text-align: center;
}

.movie-poster {
    width: 220px;
    height: 280px;
    border-radius: 20px;

    background-image: url('https://m.media-amazon.com/images/M/MV5BMTc1NjIzODAxMF5BMl5BanBnXkFtZTgwMTgzNzk1NzM@._V1_SY1000_CR0,0,631,1000_AL_.jpg');
    background-size: cover;
    background-position: bottom center;
}

.tags {
    text-align: center;
    max-width: 240px;
}

.tags>p {
    display: inline-block;
    color: #95a5a6;
    border: 1px solid #95a5a6;
    padding: 5px 9px;
    border-radius: 20px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    font-weight: 400;
}

.movie-title {
    margin: 20px 0px;
    font-size: 30px;
}

#buy-tickets {
    background-color: #1d1d1d;
    color: #fff;
    border-radius: 3px;
    width: 200px;
    font-size: 15px;
    padding: 13px 0px;
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    border: none;
}

.movie-rate {
    text-align: center;
    margin: 20px 0 0 0;
}

.fa-star {
    color: #f1c40f;
}

.hide {
    opacity: 0 !important;
}

.load-wrapp {
    float: left;
    width: 100px;
    height: 100px;
    margin: 20px 10px 10px 0;
    padding: 20px 20px 20px 0px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;


    grid-column: 7 / span 12; 
}

.load-wrapp p {
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: capitalize;
    padding: 0 0 20px;
}

.load-wrapp:last-child {
    margin-right: 0;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #E9642F;
    border-radius: 100%;
}

.load-4 .ring-1 {
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}